@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

.THREED {
  box-shadow: 10px 10px 0px -2px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 10px 0px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px -2px rgba(0, 0, 0, 1);
}

.threed {
  box-shadow: 7px 7px 0px -2px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 7px 7px 0px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 7px 7px 0px -2px rgba(0, 0, 0, 1);
}

.discount {
  background: url("/images/sunset.webp");
  background-size: cover;
}
